@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

body, html {
  font-family: "Hanken Grotesk", sans-serif;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  background-color: hsl(221, 100%, 96%);
}

p {
  margin: 0;
}

.container {
  display: flex;
  width: 650px;
  height: 420px;
  background-color: white;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05); 
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

.your-result {
  width: 50%;
  height: 100%;
  background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%) );
  border-radius: 30px;
  font-size: 20px;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px; /* Añade espacio sin agrandar el contenedor */
  padding-bottom: 40px;
  padding: 35px;
  box-sizing: border-box; /* Hace que width y height incluyan padding */
}

.your-result .title {
  font-weight: bold;
  color: hsl(241, 100%, 89%);
}

.your-result > div {
  box-sizing: content-box; /* Restaura el comportamiento original en los divs internos */
}

.score-div {
  background: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  width: 150px;
  aspect-ratio: 1; /* Mantiene la relación de 1:1 (ancho y alto iguales) */
  border-radius: 100px;
}


.score-div p {
  margin: 0;
  font-size: 15px;
}

.score-number {
  font-size: 50px !important;
  margin-top: 35px !important;
} 

.score-feedback {
  font-size: 30px;
}

.score-comparative {
  font-size: 15px;
  margin-top: 10px;
}

.summary {
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  padding: 40px;
  padding-top: 35px; 
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.summary .title {
  font-size: 20px;
  font-weight: bold;
}

.summary-cards-set {
  padding-top: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.summary-card {
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 243, 243);
  height: 45px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
}

#summary-card-Reaction .card-category {
  color: hsl(0, 100%, 67%);
}

#summary-card-Reaction {
  background-color: hsla(0, 100%, 67%, 0.07);
}

#summary-card-Memory .card-category {
  color: hsl(39, 100%, 56%);
}

#summary-card-Memory {
  background-color: hsla(39, 100%, 56%, 0.07);
}

#summary-card-Verbal .card-category {
  color: hsl(166, 100%, 37%);
}

#summary-card-Verbal {
  background-color: hsla(166, 100%, 37%, 0.07);
}

#summary-card-Visual .card-category {
  color: hsl(234, 85%, 45%);
}

#summary-card-Visual {
  background-color: hsla(234, 85%, 45%, 0.07);
}


.card-icon {
  width:20px;
  display: flex; /* Usar flex para controlar el alineamiento */
  justify-content: center; /* Centra horizontalmente la imagen si es necesario */
  align-items: center; /* Centra verticalmente la imagen */
  margin-right: 15px;
}

.card-category {
  display: flex;
  align-items: center; /* Alinea verticalmente la categoría con el icono */
  margin-right: auto; /* Esto asegura que haya espacio entre la categoría y el puntaje */
}

.card-score {
  display: flex;
  align-items: center; /* Alinea verticalmente la categoría con el icono */
}

.card-score-value {
  font-weight: bold;
}

.card-score-of100 {
  color: rgb(100, 100, 100);
}


.button {
  width: 100%;
  background-color: hsl(224, 30%, 27%);
  color: white;
  text-decoration: none;
  padding: 12px;
  box-sizing: border-box;
  border-radius: 30px;
  text-align: center;
  font-weight: 500;
}

.button:hover {
  background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%) );

}


@media (max-width: 700px) {
  body, html {
    height: auto;
    background-color: transparent;
  }

  .container {
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 0px;
    box-shadow: none;
  }

  .your-result {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    width: 100%;
    height: 390px;
  }

  .summary {
    width: 100%;
    height: 420px;
  }
}